.forma {
    width: 300px;
    border: 1px solid #d6d7da;
    padding: 0px 15px 15px 15px;
    border-radius: 10px;
    font-family: Tahoma;
    line-height: 16px;
    color: #333333;
    font-size: 14px;
    background: #348865;
    margin: 100px auto;
  }
  
  .forma-group label, .forma-group input {
    display: block;
    margin-bottom: 10px;
    width: 90%
  }
  
  .forma input {
    padding: 10px;
    border: solid 2px #BDC7D8;
  
  }
  
  .forma button {
    background-color:  #0665f3;
    border-color: #040344;
    font-weight: bold;
    padding: 12px 15px;
    color: #ffffff;
   
  }
  
